*{
   padding: 0;
   margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:10px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .nav-links{
   display: flex;
   column-gap: 20px;
  }
  .nav-links a{
   text-decoration: none;
   color: #1d232c;
 }
 .nav-links a:hover{
   text-decoration: underline;
   color: #1d232c;
 }
 /*--sidebar---*/

 .side-navbar{
   background-color: #1d232c;
   width: 50%;
   height: 100%;
   position:fixed;
   top:0;
   left:-60%;
   padding: 20px;
   color: white;
   transition: 2s;
 }
 .side-nav-links a{
   text-decoration: none;
   color: white;
 }
 .side-nav-link{
   margin-bottom: 30px;
 }
 .side-nav-links a:hover{
   text-decoration: underline;
 }
 .navbar-menu-toggle{
  display: none;
}
/*---HEADER--*/
.header{
  justify-content: center;
  gap:50px;
  padding: 50px;
  display: flex;
}
.header-button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  color: white;
  background-color: #1d232c;
  cursor: pointer;
}
.service{
  padding: 20px;
}
.service-container-1{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.service-container-2{
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
.service-container-2{
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
}
.new-arrival{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.n-a-container{
  position:relative;
  flex-basis: 20%;
}
.new-arrival button{
  padding-left: 10%;
  padding-right: 10%;
  padding-top:5%;
  padding-bottom: 5%;
  margin-top: 10px;
  color: #1d232c;
  position: absolute;
  top:50%;
  left:18%;
  border-radius: 10px;
  border: none;

}
.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.news input{
  padding: 11px;
  width:80vw;
  margin-bottom: 10px;
  border: solid black 3px;
}
.news button{
  margin-top: 10px;
  color: azure;
  border-radius: 10px;
  padding: 10px;
  background-color: #1d232c;
}
.footer{
  margin-top: 20px;
  padding: 40px;
  background-color: #1d232c;
  color: #fff;
}

 /*--media query*/

 @media screen and (max-width:700px) {
   .navbar-menu-toggle{
      display: block;
   }
   .nav-links{
      display: none;
   }
   .header-image{
      display: none;
   }
   .service-container-1{
    display: none;
   }
   .service-container-2{
    flex-direction:column;
   }
 }